.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --mini-title-color: #353430;
  --regular-text-color: #353430;
  --second-title-color: #353430;
  .header__rec, .header__rec::after {
    visibility: hidden;
  } 
}
