.page {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
}



/*   Общие паддинги  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.paddings {
  padding: 40px 10px 10px;
}


/*ХЭДЕР !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--second-title-color);
  border-inline-end: 1px solid var(--second-title-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--second-title-color);
  border-inline-start: 1px solid var(--second-title-color);
}



.header {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr fit-content(192px) 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;

}




.header__wrapper {
  display: grid;
  grid-template-rows: 1fr fit-content(98px) 1fr;

}


.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  align-self: center;
}



.header__problem {
  align-self: center;
  
}




.header__rec {
  align-self: start;
  justify-self: end;
  color: var(--second-title-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%; /* 25px */
  margin-inline-end: 28px;
}

.header__rec::after {
  content: "";
  position: absolute;
  inset-block-start: 18px;
  inset-inline-end: 19px;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--second-title-color));
  background-color: var(--second-title-color);
}


.header__theme-menu {
  align-self: start;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  list-style: none;
}

.header__theme-menu-item {
  min-block-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  outline: 1px solid var(--second-title-color);
}

/* с ним обводка актвиной кнопки не меняется при наведении, иначе, обводка получается двойной*/
.header__theme-menu-item:has(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--second-title-color);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button {
  line-height: 100%;
  border: none;
  padding: 0 13px;
  color: var(--second-title-color);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-transform: lowercase;
  /* margin-block-start: -2px; */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--second-title-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}



.title-decor {
  color: var(--mini-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  background-color: var(--accent-color);
}

.title-decor_thin {
  color: var(--mini-title-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  background-color: var(--accent-color);
}

/*   МЕЙН   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.second-title {
  color: var(--second-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}

.paragraph {
  color: var(--regular-text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--regular-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--regular-text-color);
  outline-offset: 0.5px;
}

/*   why   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.why {
  display: grid;
  gap: 20px;
}

.why__list {
  display: grid;
  gap: 20px;
}

.why__item {
  display: grid;
  gap: 10px;
}


/*   issues   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.issues {
  display: grid;
  gap: 20px;
}

.issues__list {
  display: grid;
  gap: 20px;
}

.issues__item {
  display: grid;
  gap: 10px;
}


/*   advises   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.advises {
  display: grid;
  gap: 20px;
}

.advises__list {
  display: grid;
  gap: 20px;
}

.advises__item {
  display: grid;
  gap: 10px;
}

/*   pictures   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.pictures {
  display: grid;
  gap: 10px;
}

.pictures__set {
  display: grid;
  gap: 10px;
}

.pictures__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}


/*   ФУТЕР   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.footer {
  padding: 10px 0;
  margin-block-start: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 667px;
  block-size: 100vh;
  position: relative;
  
}





@media (prefers-color-scheme: dark) {
  :root {
    /* Дублируем переменные темной темы */
    --background-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --accent-color-hover: rgba(255, 0, 112, 0.4);
    --title-color: #db00ff;
    --mini-title-color: #000028;
    --regular-text-color: #f1b2ce;
    --second-title-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --mini-title-color: #353430;
    --regular-text-color: #353430;
    --second-title-color: #353430;
  }
}












































@media (768px <= width < 5000px) {

  .paddings {
    padding: 60px 20px 20px;
  }

  .header {
    padding: 20px;

  }

  .title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__problem {
    inline-size: 50%;
    justify-self: end;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec::after {
    inset-block-start: 30px;
    inset-inline-end: 30px;
  }

  

  .why {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "why__title why__list why__list";
  }

  .why__title {
    grid-area: why__title;
  }

  .why__list {
    grid-area: why__list;
  }

  .issues__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  .advises {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "advises__title advises__list advises__list";
  }

  .advises__title {
    grid-area: advises__title;
  }

  .advises__list {
    grid-area: advises__list;
  }

  .pictures {
    gap: 20px;
  }

  .pictures__set {
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
    object-fit: cover;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }


  .footer {
    margin-block-start: 60px;
    padding: 20px 0;
  }

}

























@media (1024px <= width < 5000px) {
  
  
  .header__wrapper {
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-areas: ". header__theme-menu header__rec";
  }

  .header__theme-menu {
    grid-area: header__theme-menu;
    justify-self: center;
  }

  .header__rec {
    grid-area: header__rec;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }


  .issues__list {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }


}
